@{
    ViewBag.Title = "Index";
}

<h2>ניהול מערכת</h2>
<style>
    .login-block {
        /* width: 100%; */
        padding: 80px 0;
        min-width: 300px;
        margin: 0 auto;
        width: 40%;
        height: 40%;
    }

    .login-container {
        /*background: #ced8ee;*/
        border-radius: 10px;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    .img-admin
    {
        height:40%;
        width:40%;
    }
</style>

    <div class="login-block">
    <div class="login-container">
    <img class="center-block img-admin img-responsive" src="~/Images/site-admin-600x600-2x_0.png" />
    </div >
    </div >
