/* colors */
.wc-container{border-left:5px solid #BBCCFF;}
.wc-toolbar{background:#BBCCFF;border:none;}
.wc-header{background:#E3E9FF;border:none;}
.wc-header{border-bottom:2px solid #BBCCFF;}
.wc-hour-end, .wc-hour-header{color:#666666;border-color:#ccc}
.wc-hour-header,
.wc-grid-timeslot-header,
.wc-business-hours{background:#F6F9FC;}
.wc-column-odd{background:transparent;}
.wc-column-even{background:#ddddbe;}
.wc-time-slots .wc-today {background-color: #ffffcc;}
.wc-scrollable-grid .wc-day-column-last,
.wc-scrollable-grid .wc-day-column-middle,
.wc-scrollable-grid .wc-day-column-first{border-color:#ddd;}
/*calendar*/
.wc-day-column-first,
.wc-day-column-last,
.wc-day-column-middle,
.wc-time-slot{border-color: #ccc;}
.wc-header .wc-day-column-header.wc-today{background-color:#FAD163;border-color:#FAD163;}
.wc-header .wc-today.wc-user-header{font-weight:normal;}
.wc-today.wc-day-column-last{border-right:3px double #FAD163;}
.wc-today.wc-day-column-first{border-left:3px double #FAD163;}

test3 {
 background-color: blue;
}
test1 {
 background-color: green;
}
test2 {
 background-color:red;
}
/*--------------------------------------*/
.wc-freebusy.Night
{
	background-color: rgb(163, 255, 255);
}
.wc-freebusy.Day
{
	background-color: #ffffff;
}
.wc-freebusy.OffLine
{
	background-color: Maroon;
}
.wc-freebusy.Tutoring
{
	background-color: Fuchsia;
}

/*--------------------------------------*/

.wc-cal-event.Pending /* yellow */
{
    background: #FCE9C8 url('../../../images/calendar/btn_attention.png') no-repeat !important;
	background-position: 10px 10px !important;
	
    }
.wc-cal-event.Approved
{
	
}

.wc-cal-event.fullybooked /*red*/
{
    background: #FCE9C8 url(../../images/calendar/btn_attention_red.png) no-repeat 99px 10px !important;
    }


.wc-cal-event.tutoringapproved
{
    background: #FCE9C8 url(../../images/calendar/btn_ok.png) no-repeat 99px 10px !important;
    }
.wc-cal-event.available /*  green */
{
    background: #ECFCCB;
    }

