<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
 
    
     <connectionStrings>
       <add name="HypnosisEntities" connectionString="metadata=res://*/Data.HypnosisData.csdl|res://*/Data.HypnosisData.ssdl|res://*/Data.HypnosisData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEV3PC\SQLEXPRESS;initial catalog=Hypnosis;user id=sa;password=prog4biz!2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
     </connectionStrings>

    

  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="ADONetAppender" />
      <appender-ref ref="SmtpAppender" />
    </root>
    <appender name="ADONetAppender" type="log4net.Appender.ADONetAppender">
      <bufferSize value="100" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="connection string=data source=DEV3PC\SQLEXPRESS; initial catalog =Hypnosis;user id=sa; password=prog4biz!2016;" />
      <commandText value="INSERT INTO Log ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>
  </log4net>
  <system.web>
    <customErrors mode="Off" redirectMode="ResponseRewrite" allowNestedErrors="true" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" defaultUrl="~/Home/Index" name="HypnosisAuth" timeout="30" ticketCompatibilityMode="Framework40" requireSSL="false" slidingExpiration="true" cookieless="UseCookies" />
    </authentication>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576" executionTimeout="3600" maxQueryStringLength="1048576" />
    <globalization culture="he-IL" uiCulture="he-IL" />
    <trace enabled="true" localOnly="false" />
  </system.web>
</configuration>